.callback {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 750px;
	height: 100%;
	padding-top: 218px;
	padding-right: 47px;
	padding-left: 145px;
	background: #222629;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 37% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 37% 100%);

	&__header {
		h1 {
			margin: 0 0 10px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #ffffff;
			font-family: 'Grotesk-M';
			font-size: 24px;
			font-weight: normal;
			line-height: 28px;
		}

		p {
			margin: 0 0 16px;
			letter-spacing: 1px;
			color: rgba(255,255,255,0.6);
			font-family: 'Grotesk-L';
			font-size: 14px;
			line-height: 21px;
		}
	}

	&__form {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;

		input {
			width: 100%;
			margin-bottom: 15px;
			color: rgba(255,255,255,0.6);
			border: none;
			border-bottom: 1px solid #ffffff;
			background-color: inherit;
			font-family: 'Grotesk-L';
			font-size: 14px;
			line-height: 26px;
			position: relative;

			&:focus {
				border-color: #03c1de;
			}

			&:not(:placeholder-shown):invalid {
				border-color: #ff4f00;
				background-image: url("../../assets/img/error.png");
				background-repeat: no-repeat;
				background-position: right center;
			}

			&:invalid .callback__message--error {
				display: inline;
			}

			&:valid {
				border-color: #8ac53f;
				background-image: url("../../assets/img/valid.png");
				background-repeat: no-repeat;
				background-position: right center;
			}
		}
	}

	&__placeinput {
		position: relative;
		overflow: hidden;

		&--fname {
			width: 222px;
		}

		&--lname {
			width: 290px;
			margin-left: 20px;
		}

		&--email {
			width: 222px;
		}

		&--tel {
			width: 272px;
			margin-left: 20px;
		}

		input:not(:placeholder-shown) + .place_holder {
			display: none;
		}
	}

	.place_holder {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		display: inline;
		width: 100%;
		cursor: text;
		letter-spacing: 0.3px;
		color: rgba(255,255,255,0.6);
		font-family: 'Grotesk-L';
		font-size: 14px;
		line-height: 26px;

		span {
			color: #03c1de;
			font-family: 'Grotesk-B';
			font-size: 14px;
			line-height: 26px;
		}
	}

	&__select-wrapper {
		width: 499px;
		margin-bottom: 25px;
		position: relative;
		$color: #3694d7;
		$timing: 0.3s;

		body {
			text-align: center;
			background: mix($color,#fff,10%);
			min-height: 95vh;
			margin: 0;
			padding: 0;
			border-bottom: 5vh solid $color;
			font-family: "Myriad Pro","Arial",sans;
			font-size: 24px;
		}

		.dropdown-el {
			margin-top: 20vh;
			min-width: 12em;
			position: relative;
			display: inline-block;
			margin-right: 1em;
			min-height: 2em;
			max-height: 2em;
			overflow: hidden;
			top: 0.5em;
			cursor: pointer;
			text-align: left;
			white-space: nowrap;
			color: #444;
			outline: none;
			border: 0.06em solid transparent;
			border-radius: 1em;
			background-color: mix($color,#fff,25%);
			transition: $timing all ease-in-out;

			input {
				display: none;
			}

			label {
				border-top: 0.06em solid #d9d9d9;
				display: block;
				height: 2em;
				line-height: 2em;
				padding-left: 1em;
				padding-right: 3em;
				cursor: pointer;
				position: relative;
				transition: $timing color ease-in-out;

				&:nth-child(2) {
					margin-top: 2em;
					border-top: 0.06em solid #d9d9d9;
				}
			}

			input:checked + label {
				display: block;
				border-top: none;
				position: absolute;
				top: 0;

				&:nth-child(2) {
					margin-top: 0;
					position: relative;
				}
			}

			&::after {
				content: "";
				position: absolute;
				right: 0.8em;
				top: 0.9em;
				border: 0.3em solid $color;
				border-color: $color transparent transparent transparent;
				transition: 0.4s all ease-in-out;
			}

			&.expanded {
				border: 0.06em solid $color;
				background: #fff;
				border-radius: 0.25em;
				padding: 0;
				box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0;
				max-height: 15em;

				label {
					border-top: 0.06em solid #d9d9d9;

					&:hover {
						color: $color;
					}
				}

				input:checked + label {
					color: $color;
				}

				&::after {
					transform: rotate(-180deg);
					top: 0.55em;
				}
			}
		}

		label {
			span {
				font-weight: bold;
				color: blue;
			}
		}
	}

	&__textarea {
		width: 473px;
		min-height: 73px;
		resize: none;
		letter-spacing: 0.3px;
		color: rgba(255,255,255,0.8);
		border: none;
		border-bottom: 1px solid #ffffff;
		background-color: inherit;
		font-family: 'Grotesk-L';
		font-size: 14px;
		margin-bottom: 18px;

		&:focus {
			border-color: #03c1de;
		}
	}

	::-webkit-input-placeholder {
		font-family: 'Grotesk-L';
		font-size: 14px;
		color: #ffffff;
		opacity: 0.7;
	}

	:-moz-placeholder {
		font-family: 'Grotesk-L';
		font-size: 14px;
		color: #ffffff;
		opacity: 0.7;
	}

	::-moz-placeholder {
		font-family: 'Grotesk-L';
		font-size: 14px;
		color: #ffffff;
		opacity: 0.7;
	}

	:-ms-input-placeholder {
		font-family: 'Grotesk-L';
		font-size: 14px;
		color: #ffffff;
		opacity: 0.7;
	}

	&__submit {
		width: 160px;
		margin-left: 97px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #03c1de;
		border: none;
		background-color: inherit;
		font-family: 'Grotesk-B';
		font-size: 14px;
		line-height: 53px;
		cursor: pointer;
	}

	&__message {
		position: absolute;
		width: 253px;
		height: 98px;
		background-color: #ffffff;
		border: 2px solid #f0f2f3;
		padding: 15px;
		z-index: 2;

		&--info {
			display: none;

			&::before {
				background-color: #03c1de;
			}
		}

		&--error {
			display: none;

			&::before {
				background-color: #ff4f00;
			}

			&::after {
				border-top: 7px solid #ff4f00;
			}
		}

		span {
			font-family: 'Grotesk-L';
			color: #444749;
			letter-spacing: 0.5;
			font-size: 14px;
			line-height: 21px;
			position: relative;
		}

		&::before {
			content: '';
			position: absolute;
			width: 251px;
			height: 9px;
			left: -1px;
			bottom: -2px;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: -23px;
			transform: translate(-50%,-50%);
			left: 50%;
			border: 7px solid transparent;
			border-top: 7px solid #03c1de;
		}
	}
}
