@font-face {
  font-family: 'Grotesk-M';
  src: url('../../fonts/HKGrotesk-Medium.otf');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Grotesk-L';
  src: url('../../fonts/HKGrotesk-Light.otf');

}
