@font-face {
	font-family: 'Grotesk-M';
	font-weight: normal;
	font-style: normal;

	src: local('HKGrotesk-Medium'),
	url('../../fonts/HKGrotesk-Medium.eot'),
	url('../../fonts/HKGrotesk-Medium.otf') format("truetype");
}
@font-face {
	font-family: 'Grotesk-L';

	src: local('HKGrotesk-Light'),
	url('../../fonts/HKGrotesk-Light.eot'),
	url('../../fonts/HKGrotesk-Light.otf') format("truetype");
}
@font-face {
	font-family: 'Grotesk-B';

	src: local('HKGrotesk-Bold'),
	url('../../fonts/HKGrotesk-Bold.eot'),
	url('../../fonts/HKGrotesk-Bold.otf') format("truetype");
}
